<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Opets"
        tools:targetApi="31">
        <activity
            android:name=".detail_perawatan_grooming"
            android:exported="false" />
        <activity
            android:name=".grooming_nutrition"
            android:exported="false" />
        <activity
            android:name=".grooming_jamur"
            android:exported="false" />
        <activity
            android:name=".grooming_harian"
            android:exported="false" />
        <activity
            android:name=".Login.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".PembayaranQrisActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewCatHotelActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewGroomingActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatGroomingActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatCatHotelActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileKamuActivity"
            android:exported="false" />
        <activity
            android:name=".Tambahan.KetentuanPenggunaActivity"
            android:exported="false" />
        <activity
            android:name=".Tambahan.TentangKamiActivity"
            android:exported="false" />
        <activity
            android:name=".Penitipan.BookingPenitipanActivity"
            android:exported="false" />
        <activity
            android:name=".Groooming.BookingGromingKutuActivity"
            android:exported="false" />
        <activity
            android:name=".Groooming.GroomingKutuActivity"
            android:exported="false" />
        <activity
            android:name=".Tambahan.KebijakanActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerService.CustomerServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Groooming.GroomingActivity"
            android:exported="false" />
        <activity
            android:name=".Login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Penitipan.PenitipanActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.register" />
        <activity
            android:name=".Splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>